@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

img {
    max-width: 100%;
    object-fit: cover;
}

body::-webkit-scrollbar {
    display: none;
}

button {
    cursor: pointer;
}


/*making intersection observer animations*/
.hidden {
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-25%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);

}

.big-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-family: 'Alata', sans-serif;
    
    
}

.black-bg {
    background-color: black;
    gap: 30px;
}



header {
    padding-left:40px;
    padding-right: 20px;
    width: 100%;
    display: flex;
    height: 115px;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    font-family: 'Advent Pro', sans-serif;
    /* background-color: black; */
    background: linear-gradient(rgba(51, 51, 51, 0.3), rgba(51, 51, 51, 0.3)), 
                url(./Images/yousef-espanioly-kuT7X8djcMM-unsplash.jpg)
}



.social-logos {
    position: absolute;
    left: 42%;
    display: none;
    gap: 35px;
}

.social-hamburger {
    display: inline;
}

.social-icon {
    height: 50px;
}

h1 {
    color: whitesmoke;
    font-size: 48px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 32px;
}


nav {
    font-size: 32px;
    display: none;
    gap: 20px;
}

img {
    max-width: 100%;
}

.top-landing {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(51, 51, 51, 0.2), rgb(51, 51, 51, 0.6)), url(./Images/mike-benna-SBiVq9eWEtQ-unsplash.jpeg);
    background-size: cover;
    background-position: center;
}

.header-left {
    display: flex;
    gap: 10px;
}

#leaf-pic {
    height: 45px;
}

/*landing page stuff*/

.content-top {
    color: whitesmoke;
    height: 80vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.change-landing {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: auto;
    font-size: 32px;
    border-radius: 10%;
    /* background-image: linear-gradient(rgb(51, 51, 51, 0.4), rgb(51, 51, 51, 0.8)); */

}

#arrow-image {
    height: 200px;
}

#leaf-text {
    color:#54C54E;
}
.middle-landing {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.middle-left {
    background-image: linear-gradient(rgb(51, 51, 51, 0), rgb(51, 51, 51, 0.8)), url(./Images/victor-0NJ9urGXrIg-unsplash.jpeg);
    background-size: cover;
    background-position: center;
    width: 100%;
}

.middle-right {
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: center;
    gap: 50px;
    padding: 50px;
    color: whitesmoke;
    text-align: center;
    background-image: linear-gradient(rgb(51, 51, 51, 0.2), rgb(51, 51, 51, 0.8)), url(./Images/sereja-ris-T5MO6fmMd38-unsplash.jpeg);
    background-size: cover;
    background-position: center;
    width: 100%;
}

#mission-paragraph {
    font-size: 24px;
}

.bottom-landing {
    height: 200px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 25px;
    align-items: center;
    margin-top: 125px;
    margin-bottom: 25px;
}

#get-in-touch {
    font-size: 48px;
    border-radius: 15px;
    line-height: 1;
    height: 75px;
    width: 300px;
    color: whitesmoke;
    background-color: black;
    outline: 0;
    border: 0;
    transition: transform 200ms, background 200ms;
    font-family: 'Zeyada', cursive;

}

#get-in-touch:hover {
    transform: translateY(4px);
}

/*Footer stuff*/

footer {
    margin-top: auto;
    height: 65px;
    width: 100%;
    background-color: black;
    color: whitesmoke;
    text-align: center;
    align-items: center;
}

#PP {
    height: 35px;
}

/*Gallery stuff*/

.gallery-container {
    margin-top: 100px;
    margin-bottom: 50px;
}

.image-gallery {
    margin-left: 3vw;
    margin-right: 3vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.image-gallery .column {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.image-item {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.image-item img {
    width: 100%;
    border-radius: 5px;
    height: 100%;
    object-fit: cover;
}



#proj-title-div {
    margin-top: 50px;
}


/*Contact stuff*/

.contact-container {
    margin-top: 10vh;
    margin-left: 100px;
    height: 40vh;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 100px);
    gap: 50px;
}

.contact-item {
    color: black;
    width: 300px;
    display: flex;
    gap: 30px;
    flex-flow: column;
}

.name-div {
    grid-area: 1/2;
}

.tel-div {
    grid-area: 1/3;
}

.email-div {
    grid-area: 1/4;
}

.more-div {
    grid-area: 2/2;
}

.newsletter-div {
    grid-area: 2/4;
}

.contact-input {
    width: 300px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: black;
    background-color: transparent;
    color: black;
}

.more-input {
    width: 500px;
}

.contact-submit {
    padding: 10px;
    line-height: 1;
    font-size: 48px;
    border-radius: 15px;
    height: 50px;
    width: 150px;
    color: whitesmoke;
    background-color: black;
    font-family: 'Zeyada', cursive;
    outline: 0;
    border: 0;
    transition: transform 200ms, background 200ms;
    
}

.submit-button-div {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.contact-submit:hover {
    transform: translateY(4px);
}


/*partners stuff*/

.partners-container {
    display: flex;
    flex-flow: column;
    gap: 150px;
    margin-top: 100px;
    min-height: 100vh;
}

.partners-div {
    display: flex;
    gap: 35px;
}

.partners-picture {
    height: 300px;
}

.partners-text {
    width: 40vw;
    color: black;
}

#partners-title-div {
    margin-top: 50px;
}


@media only screen and (min-width: 800px) {
    h1 {
        font-size: 64px;
    }

    #leaf-pic {
        height: 75px;
    }

    .change-landing {
        height: 300px;
        width: 500px;
        font-size: 64px;
        
    }

    .bottom-landing {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .social-hamburger {
        display: none;
    }

    /* Projects */

    .image-gallery {
        flex-direction: row;
    }

    .social-logos {
        display: flex;
    }

    .middle-landing {
        flex-flow: row;
    }

    .middle-left {
        width: 50%;

    }

    .middle-right {
        width: 50%;
    }

    
}

@media only screen and (min-width: 1100px) {
    
    nav {
        display: flex;
    }
    
    .hamburger {
        display: none;
    }
    
}

@media only screen and (max-width: 1100px) {
    /*contact stuff*/
    .contact-container {
        margin-left: 3vh;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        margin-top: 30vh;
        margin-bottom: 10vh;
        
    }

    .submit-button-div {
        transform: translate(75px, 50px) ;
    }

    .more-input {
        width: 300px;
    }

    #mission-paragraph {
        font-size: 18px;
    }

    /*partners stuff*/

    .partners-div {
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .partners-2:first-child {
        order: 1;
    }

    .partners-2 {
        display: flex;
        flex-flow: column;
        justify-content: center;
        /* align-items: center; */
    }

    .partners-text {
        width: 80vw;
        text-align: start;
    }

}